fastapi
uvicorn
sqlalchemy
langchain
langchain-google-genai
langchain-community
langchain-chroma
langchain-huggingface
chromadb
pinecone-client
python-dotenv
pydantic
pymupdf
python-pptx
openai-whisper
google-generativeai
ragas
datasets
pytest
